<div>
    {{#with main}}
    <main>
        <section>
            <b>My educationss</b>
            <ul>
                {{#each education}}
                <li>
                    {{name}}
                    {{#unless isEnd}} (ще в процесі) {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>

        <section>
            <b>My sertificates</b>
            <ul>
                {{#each sertificates}}
                <li>
                    {{name}} ({{id}})
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>